body {
	color: #0c0;
	font-family: monospace;
	background-color: #010;
}

a {
	color: #0c0;
}

a:hover {
	color: #0f0;
}

button {
	font-family: monospace;
	background-color: #030;
	color: #0c0;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	border: 1px solid #0c0;
}
button:hover {
	background-color: #060;
	color: #0f0;
}

.profile {
	border: 1px solid black;
	padding: 2em;
}

.profile_field_name {
	font-weight: bold;
}

.avatar_box {
	width: 300px;
	height: 300px;
	float: left;
	margin-right: 2em;
}

.score_gauge {
	height: 32px;
}

.score_gauge_base {
	display: table-row;
	width: 320px;
	border: 1px solid #0f0;
}

.score_gauge_indication {
	display: table-cell;
	background: #060;
}

.word {
	padding: 0.2em;
	color: #000;
	line-height: 2.0;
	white-space: nowrap;
}

.classify_op {
	color: #0c0;
	background-color: #020;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.classify_op_selected {
	color: #0f0;
	background-color: #060;
}

.classify_op_selected label {
	text-decoration: underline;
}

.user_pane {
	position: absolute;
	overflow: auto;
	left: 0px;
	right: 0px;
	top: 10em;
	bottom: 5em;
}

.title_pane {
	position: absolute;
	overflow: none;
	left: 0px;
	right: 0px;
	height: 10em;
	top: 0px;
}

.status_pane {
	position: absolute;
	overflow: none;
	left: 0px;
	right: 0px;
	height: 5em;
	bottom: 0px;
}
